@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e7eaf5;
  font-family: 'Dosis', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #b383e2;
  font-size: 150px;
  text-align: center;
  opacity: 0.4;
}

form {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  border: none;
  color: #444;
  font-size: 30px;
  padding: 15px 30px;
  display: block;
  width: 100%
}

.input::placeholder {
  color: #d5d5d5;
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 30px;
  padding: 15px 30px;
}

.todos li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

small {
  color: #7f7c7c;
  margin-top: 30px;
  text-align: center;
}